.git
.github
.venv
venv
__pycache__
*.pyc
*.pyo
.mypy_cache
.ruff_cache
.pytest_cache
.coverage
coverage.xml
htmlcov
notebooks
*.ipynb
.ipynb_checkpoints
data
img
test
dtd
dtd-r1.0.1.tar.gz
*.pck
*.tar.gz
*.avi
*.mp4
LICENSE
CONTRIBUTING.md
SECURITY.md
CODE_OF_CONDUCT.md
.editorconfig
.pre-commit-config.yaml
